<div class="daogou ng-hide" ng-show="ISWX">
  <div class="redPoint"></div>
  <img class="daogouImg1" ng-src="{{GUIDINFO.avatar}}" ng-click="showmenu()" loginsuccess="loginsuccess2"
       loginerror="loginerror2">

  <div class="daogouImgWarp">
    <div class="iconfont icon-wo daogouImg2" ui-sref="orderList()"></div>
    <span class="daogouImgTxt" ui-sref="orderList()">个人中心</span>

    <div class="iconfont icon-dianpu  daogouImg2" ui-sref="guide()"></div>
    <span class="daogouImgTxt" ui-sref="guide()">导购橱窗</span>

    <div class="iconfont icon-gouwuche daogouImg2" ui-sref="cart()"></div>
    <span class="daogouImgTxt" ui-sref="cart()">购物车</span>

    <div class="redPointCart"></div>
  </div>
  <!-- 此处有交互，点击小圆出 购物车按钮，导购橱窗(商品列表)，个人中心(订单列表) 由于手机显示和电脑显示的原因，电脑上面调试会显示出溢出的-->
</div>
