<div class="daogou ng-hide" ng-show="ISWX">
	<div class="redPoint"></div>
	<img class="daogouImg1" ng-src="{{GUIDINFO.avatar}}" ng-click="showmenu()" loginsuccess="loginsuccess" loginerror="loginerror">
	<div class="daogouImgWarp">
		<div class="iconfont icon-wo daogouImg2" ui-sref="orderList({userid:USERINFO.id})"></div>
		<span class="daogouImgTxt" ui-sref="orderList({userid:USERINFO.id})">个人中心</span>
		<div class="iconfont icon-dianpu  daogouImg2" ui-sref="guide({guideid:bringGuiderIds,brandid:productDetailData.brand_id})"></div>
		<span class="daogouImgTxt" ui-sref="guide({guideid:bringGuiderIds,brandid:productDetailData.brand_id})">导购橱窗</span>
		<div class="iconfont icon-gouwuche daogouImg2" ui-sref="cart({userid:USERINFO.id,brandid:productDetailData.brand_id})"></div>
		<span class="daogouImgTxt" ui-sref="cart({userid:USERINFO.id,brandid:productDetailData.brand_id})">购物车</span>
		<div class="redPointCart"></div>
	</div>
	<!-- 此处有交互，点击小圆出 购物车按钮，导购橱窗(商品列表)，个人中心(订单列表) -->
</div>