
<ion-view view-title="退货详情">
      <ion-content class="apply-content">
          <div class="statusWrap backfff padding-bt20">
                <div class="shop">
                    <div class="shop-name countDel">退货商品</div>
                    <div class="return-saler">{{refundOrderData.statusCN}}</div>
                    <div class="clearBoth"></div>
                </div>
                
                <ul class="list marginbt0" ng-class="{'border-bt':1}">
                    <li class="item item-checkbox product-item" ng-repeat="item in refundOrderData.details">
                       <label class="checkbox disnone">
                         <input type="checkbox" ng-model="choose">
                       </label>
                      <img ng-src="{{item.pic}}" class="product-img">
                      <div class="paramenters">
                          <div class="name">{{item.title}}</div>
                          <div class="paras">{{item.sku_properties_name}}</div>
                      </div>
                      <span class="price">{{item.price | currency:"￥":2}}</span>
                      <div class="countNum">X{{item.num}}
                      </div>
                    </li>
                </ul>
                <div class="return-item" ng-show="fetchAddress">
                     <div class="addressInfo">
                     <span class="font14">请前往以下门店退货</span>
                        <div>
                            <span class="floatL width80">{{refundOrderData.receive_store_name}}，{{refundOrderData.receive_store_tel}}  </span>
                            <span class="colorBlue2 floatR font13" ui-sref="goodsShop">其它门店</span>
                            <div class="clearBoth"></div>
                        </div>
                        <div>
                            <span class="font13 floatL width85">{{refundOrderData.receive_store_state}}&nbsp;{{refundOrderData.receive_store_city}}&nbsp;{{refundOrderData.receive_store_district}}&nbsp;{{refundOrderData.receive_store_address}}</span>
                            <span class="font13 colorRed floatR">3.0km</span>
                            <div class="clearBoth"></div>
                        </div>
                      
                    </div>
                </div>
                
                <div class="return-item" ng-show="fetchSuccess">
                     <div class="addressInfo">
                         <span class="font14">退货门店</span><br/>
                         <span>{{refundOrderData.receive_store_name}}，{{refundOrderData.receive_store_tel}} </span><br/>
                         <span>{{refundOrderData.receive_store_state}}&nbsp;{{refundOrderData.receive_store_city}}&nbsp;{{refundOrderData.receive_store_district}}&nbsp;{{refundOrderData.receive_store_address}}</span>
                         <span>退货时间：{{refundOrderData.finished_time}}</span>
                         <span>接待导购：{{guiderData.full_name}}&nbsp;{{guiderData.work_no}}</span>
                    </div>
                </div>

                <div class="return-item" ng-show="fetchQRcode">
                    <div class="erweima-wrap">
                       <img class="erweima floatL margin-r15" ng-src="{{refundOrderData.qr_code}}"/>
                       <div class="floatL">
                           <span>请在取货时向店员出示此码</span><br/>
                           <span class="colorRed">切勿透露他人以防冒取</span>
                       </div>
                       <div class="clearBoth"></div>
                    </div>
                </div>
                
                <div class="return-item" ng-show="expressAddress">
                  请将要退的商品寄至以下地址并填写物流信息<br/>
                  退货地址：{{refundOrderData.receiver_state}} {{refundOrderData.receiver_city}} {{refundOrderData.receiver_district}} {{refundOrderData.receiver_address}}<br/>  
                  收件人：{{refundOrderData.receiver_name}}<br/> 
                  联系电话：{{refundOrderData.receiver_mobile}}
                </div>
                <div class="return-item" ng-show="logisticInfo">
                  物流信息提交时间：{{refundOrderData.express_confirm_time}}<br/>
                  快递公司：{{refundOrderData.express_company}}<br/> 
                  快递单号：{{refundOrderData.express_no}}
                </div>
                <div class="returnReason" ng-class="{'margin-tp10':1}">
                  <span>提交时间：{{refundOrderData.created_at}}</span><br/>
                  <span ng-show="refundReason">退款原因：{{refundOrderData.buyer_memo}} </span><br/>
                  <span ng-show="refundpics">证明图片：</span><br/>

                  <img ng-show="refundpics" ng-src="{{item}}" class="return-imgs" ng-repeat="item in refundpicUrls">
                </div>
          </div>

      </ion-content>

      <ion-footer-bar align-title="left" class="footer"  ng-show="cancelRefundInputlogis">
        <ul class="list footerul">
              <li class="item item-checkbox footerli">
                 <button class="delcount">取消退货</button>
                 <button class="delcount backred colorfff" ui-sref="logisticsInfo">填写退货物流信息</button>
              </li>
          </ul>
      </ion-footer-bar>

      <ion-footer-bar align-title="left" class="footer"  ng-show="cancelRefund">
        <ul class="list footerul">
              <li class="item item-checkbox footerli">
                 <button class="delcount">取消退货</button>
              </li>
          </ul>
      </ion-footer-bar>

      <ion-footer-bar align-title="left" class="footer"  ng-show="changeLogistic">
        <ul class="list footerul">
              <li class="item item-checkbox footerli">
                 <button class="delcount backred colorfff" ui-sref="logisticsInfo">修改退货物流信息</button>
              </li>
          </ul>
      </ion-footer-bar>
</ion-view>