
<ion-view view-title="退货申请">
      <ion-content class="apply-content">
          <div class="statusWrap border-bt0 backfff padding-bt20">
                <div class="shop">
                    <div class="shop-name countDel">退货商品</div>
                    <div class="clearBoth"></div>
                </div>
                
                <ul class="list marginbt0">
                    <li class="item item-checkbox product-item backfff" ng-repeat="item in refundData.details">
                       <label class="checkbox disnone">
                         <input type="checkbox" ng-model="choose">
                       </label>
                      <i class="iconfont icon-gou bggou font24 selected-img" ng-class="{'graygou':!item.seleted,'greengou':item.seleted}" ng-click="changeCheck($index)"></i>
                      <img ng-src="{{item.pic}}" class="product-img">
                      <div class="paramenters-select">
                          <div class="name">{{item.title}}</div>
                          <div class="paras">{{item.sku_properties_name}}</div>
                      </div>
                      <span class="price">{{item.price|currency:"￥":2}}</span>
                      <div class="countNum">{{item.seleted}}X{{item.item_num}}
                      </div>
                    </li>
                </ul>
                <div class="prompt-text">
                    <div class="prompt">退货原因（必选）</div>
                    <input class="text" ng-model="refundInputInfo.buyer_memo"/>
                </div>
                <div class="prompt-text">
                    <div class="prompt">退货渠道（必选）</div>
                    <!-- <input class="text"/> -->
                   
                    <select id="shippingType"  ng-model="refundInputInfo.shipping_type" ng-options="shippingType.shipping_typeCN for shippingType in shippingData" ng-change="provinceSelect(firstAddressInput.provinceInfo)">
                    </select>
                </div>
                <div class="prompt-text">
                    <div class="prompt">图片</div>
                    <img src="assets/images/addImg.png" id="img1" class="img" ng-click="uploadImg('img1')"/>
                    <img src="assets/images/addImg.png" id="img2" class="img"  ng-click="uploadImg('img2')"/>
                    <img src="assets/images/addImg.png" id="img3" class="img"  ng-click="uploadImg('img3')"/>
                    {{picuel1}}
                </div>
               <!--  <div class="prompt-text">
                    <div class="prompt">补充描述</div>
                    <input class="text"/>
                </div> -->
                <div class="commonBtn backred" ng-click="goRefundState()">提交</div>
          </div>

      </ion-content>
</ion-view>