<ion-view view-title="我的订单">
  <div class="bar bar-subheader top0 coloref">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabsm">
        <div class="tab-item-wrap">
          <a class="tab-itemm" ng-click="goCart()">
            购物车
          </a>
        </div>
        <div class="tab-item-wrap">
          <a class="tab-itemm iactive">
            我的订单
          </a>
        </div>
      </div>
    </div>
  </div>

  <ion-content class="orderlist-content">
    <!--  <ion-refresher
     pulling-text="下拉更新..."
     on-refresh="refreshproductList()">
     </ion-refresher> -->
    <div class="statusWrap backf8" ng-repeat="item in productListData">
      <div class="status backf8">
        <div class="status-name countDel" ng-class="{success:item.statusCN==='交易成功'}">{{item.statusCN}}</div>
        <div class="edit">
          <i class="iconfont icon-shijian"></i>
         {{item.leftTime}}
        </div>
        <div class="clearBoth"></div>
      </div>
      <ul class="list marginbt0" ng-repeat="order in item.orders" ng-click="orderDetail(item.tid)">
        <li class="item item-checkbox product-item backf8">
          <label class="checkbox disnone">
            <input type="checkbox" ng-model="choose">
          </label>
          <img ng-src="{{order.pics[0]}}" class="product-img">

          <div class="paramenters">
            <div class="name">{{order.title}}</div>
            <div class="paras">{{order.sku_properties_name}}</div>
          </div>
          <span class="price">{{order.price|currency:"￥":2}}</span>

          <div class="countNum">X{{order.num}}
          </div>
        </li>
      </ul>
      <div class="perAccount backf8">
        <div class="account"><span class="heji">合计：</span>{{item.total_fee | currency:"￥":2}}</div>
        <div class="time">{{item.created_at |date:"yyyy-MM-dd HH:mm:ss"}}</div>
        <div class="clearBoth"></div>
      </div>
    </div>


    <ion-infinite-scroll
      ng-if="hasMoreOrder"
      immediate-check="false"
      on-infinite="loadMoreData()"
      distance="10%"
      >
    </ion-infinite-scroll>
  </ion-content>
  <div login style="position:absolute;z-index:999 ;left:0;bottom:0;width:100%;background:#fff;"  ng-show="login" loginsuccess="loginsuccess" loginerror="loginerror"></div>
  <!--   这个切换其实是2个页面 不是页面内切换的
    一个是购物车页cart   应该是订单列表 order → order-list -->

  <!-- 悬浮点击打开个人中心、购物车、导购 -->
  <div float-center></div>
</ion-view>
