<ion-view view-title="导购橱窗">
  <ion-content>
    <div class="guidebg">
      <img ng-src="{{GUIDINFO.avatar}}" class="guidelogo">
      <span class="guidename">{{GUIDINFO.full_name}}</span>
      <span class="chatname">微信号:{{GUIDINFO.weixin_no}}</span>
      <span class="myorders" ng-click="goOrderList()">我的订单</span>
      <span class="shopname">{{BRANDINFO.brand_name}} | {{GUIDINFO.store_address}}</span>
      <a class="view-style"  ng-show="type=='list'" ng-click="changeStyle('form')"></a>
      <a class="view-style list" ng-show="type=='form'" ng-click="changeStyle('list')"></a>

    </div>
    <div class="statusWrap">
      <ul id="listData" class="list marginbt0">
        <li class="item item-checkbox product-item" ng-repeat="item in daogouProductListData"
            ng-click="productDetail(item.num_iid)">
          <label class="checkbox disnone">
            <input type="checkbox" ng-model="choose">
          </label>
          <img ng-src="{{item.pic}}" class="product-img">

          <div class="paramenters-daogou">
            <div class="name width85">{{item.title}}</div>
            <div class="paras">{{item.price | currency:"￥":2}}<s class="paras2">{{item.quote_price |
              currency:"￥":2}}</s></div>
          </div>
          <i class="iconfont icon-jiantouleft daogou-arrow rotate180"></i>
        </li>
      </ul>
    </div>

    <ion-infinite-scroll
      ng-if="hasMoreOrder"
      immediate-check="false"
      on-infinite="loadMoreData()"
      distance="10%"
      >
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
