
<ion-view view-title="订单详情">
      <ion-content class="order-detail">
          <div class="statusWrap border-tp0">
              <div class="order-status">
                   <div class="iconfont icon-dingdan order-img"></div>
                   <span class="order-infos">
                         <span>已发货</span><br/>
                         <span>订单金额（含运费）: ¥ 1482.00</span><br/>
                         <span>运费: ¥ 0.00</span>
                   </span>
                   <div class="clearBoth"></div>
              </div>
              <div class="receiver-infos">
                   <div class="iconfont icon-dingwei receiver-img font23"></div>
                   <span class="receiver-info">
                         <div class="font15">
                              <span class="floatL">收货人：李志伟</span>        
                              <span class="floatR">18094705373</span> 
                              <div class="clearBoth"></div>
                         </div>
                         <span>收货地址：长宁区 杨宅路255号新发现财富园5幢 4楼   </span>
                   </span>
                   <div class="clearBoth"></div>
              </div>
              <div class="receiver-infos">
                   <div class="iconfont icon-dingwei receiver-img font23"></div>
                   <span class="receiver-info">
                         <div class="font15">
                              <span class="floatL">取货人：李志伟</span>        
                              <span class="floatR">18094705373</span> 
                              <div class="clearBoth"></div>
                         </div>
                         <span>取货门店：上海市淮海中路店 </span>
                         <div>
                              <span class="floatL width78">取货地址：淮海中路255号淮海中路255号淮海中路255号</span>        
                              <span class="floatR colorBlue2">获取路线</span> 
                              <div class="clearBoth"></div>
                         </div>
                         <div>
                              <span class="floatL width85">联系电话：18094705373</span>        
                              <span class="floatR colorBlue2">拨号</span> 
                              <div class="clearBoth"></div>
                         </div>
                         <span>预约时间：2015-04-18 12:00-14:00 </span>
                   </span>
                   <div class="clearBoth"></div>
              </div>
              <div class="receiver-infos">
                   <div class="iconfont icon-dingwei receiver-img font23 novisible"></div>
                   <span class="receiver-info">
                         <div class="font15">
                              <span>取货门店：上海市淮海中路店</span>        
                         </div>
                         <span>接待导购：曾丽 34343344555</span><br/>
                         <span>预约时间：2015-04-18 12:00-14:00 </span>
                   </span>
                   <div class="clearBoth"></div>
              </div>

              <div class="receiver-infos">
                   <div class="erweima-wrap">
                      <img class="erweima floatL margin-r15" src="assets/images/erweima.png"/>
                      <div class="floatL">
                          <span>请在取货时向店员出示此码</span><br/>
                          <span class="font18">2323 2454 454123</span><br/>
                          <span class="colorRed">切勿透露他人以防冒取</span>
                      </div>
                      <div class="clearBoth"></div>
                   </div>
              </div>

              <div class="wuliu-infos">
                   <div class="wuliu-img"></div>
                   <span class="wuliu-infos">
                         <span class="font15">物流信息</span><br/>
                         <span class="colorGreen">已签收 签收人是XXX</span><br/>
                         <span class="colorGreen">2015-04-13 11:40:23</span>
                   </span>
                   <div class="clearBoth"></div>
              </div>
          </div>
          <div class="statusWrap">
                <ul class="list marginbt0">
                    <li class="item item-checkbox product-item backfff" ng-repeat="item in productData">
                      <img src="assets/images/pic1.png" class="product-img">
                      <div class="paramenters">
                          <div class="name">{{item.title}}</div>
                          <div class="paras">{{item.sku_properties_name}}</div>
                      </div>
                      <span class="price">￥{{item.price}}</span>
                      <div class="countNum">X1</div>
                      <div class="sale-return"  ng-show="1">退货</div>
                      <div class="on-sale-return" ng-show="0">退货中</div>
                    </li>
                </ul>
                <div class="summary">
                        品牌：Lily商务时装 <br/>
                        订单号：2323212232324344354546 <br/>
                        付款方式：微信支付 <br/>
                        交易号：2323212232
                </div>
          </div>
      </ion-content>
      <div class="redPoint"></div>
      <div class="daogou">
        <img class="daogouImg1" src="assets/images/daogou1.png" ng-click="showmenu()">
        <div class="daogouImgWarp">
          <img class="daogouImg2" src="assets/images/daogou2.png">
          <span class="daogouImgTxt">个人中心</span>
          <img class="daogouImg2" src="assets/images/daogou3.png">
          <span class="daogouImgTxt">导购橱窗</span>
          <img class="daogouImg2" src="assets/images/daogou4.png" ui-sref="cart">
          <span class="daogouImgTxt" ui-sref="cart">购物车</span>
          <div class="redPointCart"></div>
        </div>
      </div>


      <ion-footer-bar align-title="left" class="footer">
        <ul class="list footerul">
              <li class="item item-checkbox footerli">
                 <button class="delcount">删除订单</button>
              </li>
          </ul>
         
      </ion-footer-bar>

  <!--   这个切换其实是2个页面 不是页面内切换的
    一个是购物车页cart   应该是订单列表 order → order-list -->

</ion-view>