.order-detail{
	padding-top:45px;
	background:#efefef;
	.statusWrap{
		border-top: 1px solid @grayddd;
		border-bottom: 1px solid  @grayddd;
		background: @grayf8;
		margin-bottom: 10px;
		.product-item{
			border:0px;
			padding:15px 15px 6px 10px;
			background: @grayf8;
			.disnone{
				display: none;
				
			}
			&:last-child{
				padding-bottom: 15px;//与product-item平行的最后一个
			}
			.product-img{
				width:62px;
				height:62px;
				vertical-align: middle;
				border:1px solid @grayddd;
				margin:auto 8px auto 10px;
			}
			.paramenters{
				display: inline-block;
				height:62px;
				width:125px;
				vertical-align: middle;
				.name{
					width:130px;
					font-size:14px;
					color:@gray3a;
					white-space:normal;
					height:40px;
				}
				.paras{
					width:130px;
					font-size:14px;
					color:@graya3;
					white-space:normal;
					font-size: 13px;
				}
			}
			.price{
				float:right;
				font-size: 14px;
				color:@gray3a;
			}
			.countNum{
				position:absolute;
				height: 30px;
				top:40px;
				right:15px;
				font-size: 14px;
				color:@graya3;
			}
		}
		.summary{
			margin:0 0 0 10px;
			padding:10px 15px 10px 5px;
			color:@graya3;
			font-size: 13px;
			border-top:1px solid @grayddd;

		}
		

	}
	
}