.order-detail{
	background:#efefef;
	.statusWrap{
		border-top: 1px solid @grayddd;
		border-bottom: 1px solid  @grayddd;
		background: @whitefff;
		margin-bottom: 10px;
	}
	.order-status{
		width:100%;
		background:#aaa;
		.order-img{
			float: left;
			width:16px;
			height:16px;
			margin:12px 14px auto 14px;
		}
		.order-infos{
			margin:10px 20px 10px 0px;
			float: left;
			color:@whitefff;
		}

	}
	.receiver-infos{
		margin-left:10px;
		background: @whitefff;
		border-bottom: 1px solid @grayddd;
		.receiver-img{
			float: left;
			width:15px;
			height:20px;
			margin:12px 14px auto 4px;
		}
		.receiver-infos{
			width:88%;
			margin:10px 0px 10px 0px;
			float: left;
			color:@gray3a;
			border-bottom: 0px solid @grayddd;
		}
	}
	.wuliu-infos{
		margin-left:10px;
		background: @whitefff;
		.wuliu-img{
			float: left;
			width:15px;
			height:15px;
			margin:12px 14px auto 4px;
		}
		.wuliu-infos{
			margin:10px 0px 10px 0px;
			float: left;
			color:@gray3a;
		}
	}
	.product-item{
		border:0px;
		padding:15px 15px 6px 10px;
		.disnone{
			display: none;
			
		}
		&:last-child{
			padding-bottom: 15px;//与product-item平行的最后一个
		}
		.product-img{
			width:62px;
			height:62px;
			vertical-align: middle;
			border:1px solid @grayddd;
			margin:auto 8px auto 10px;
		}
		.paramenters{
			display: inline-block;
			height:62px;
			width:125px;
			vertical-align: middle;
			.name{
				width:130px;
				font-size:14px;
				color:@gray3a;
				white-space:normal;
				height:40px;
			}
			.paras{
				width:130px;
				font-size:14px;
				color:@graya3;
				white-space:normal;
				font-size: 13px;
			}
		}
		.price{
			float:right;
			font-size: 14px;
			color:@gray3a;
		}
		.countNum{
			position:absolute;
			height: 30px;
			top:40px;
			right:15px;
			font-size: 14px;
			color:@graya3;
		}
	}
	.summary{
		margin:0 0 0 10px;
		padding:10px 15px 10px 5px;
		color:@graya3;
		font-size: 13px;
		border-top:1px solid @grayddd;

	}
}
.delcount{
	float: right;
	display:block;
	height: 34px;
	width:115px;
	line-height: 34px;
	background: @whitefff;
	border-radius: 4px;
	border:1px solid #ddd;
	color:@gray3a;
	text-align: center;
}