<ion-view view-title="宝贝详情" class="product-detail">
	<ion-content>

		<ion-slide-box on-slide-changed="slideHasChanged($index)" class="sliderbox" >
			<ion-slide ng-repeat="picurl in productDetailData.picUrlArr">
		    	<img class="sliderpic" ng-src="{{picurl}}">
			</ion-slide>
		</ion-slide-box>
		
		<!-- <p id="demo">点击这个按钮，获得您的坐标：</p>
		<button ng-click="getLocation()">试一下</button> -->
		<!-- <p ng-repeat="params in productparam">参数:{{params.param}}</p>
		<p class="des">简介</p> -->
		<div class="productInfo">
			<div class="title">{{productDetailData.title}}</div>
			<div class="price">{{productDetailData.price|currency:"￥":2}}</div>
			<div ng-repeat = "item in productDetailData.specification">
				<span class="graya3">{{item.key}}：</span><span>{{item.val}}</span>
			</div>
			<div>
				<span class="graya3">剩余：</span><span>{{productDetailData.num}}</span>
			</div>
			<div>
				<span class="graya3">运费：</span><span>{{productDetailData.freight|currency:"￥":2}}</span>
			</div>
			<div>
				<span class="graya3">服务：</span><span>支持专卖店取货 </span>
			</div>
		</div>
	    <div class="productPicWrap">
	    	<!-- <img class="productPic" src="assets/images/pic1.png">
	    	<img class="productPic" src="assets/images/pic1.png">
	    	<img class="productPic" src="assets/images/pic1.png">
	    	<div class="clearBoth"></div> -->
	    	{{productDetailData.content}}
	    </div>
	</ion-content>
	<!-- 悬浮点击打开个人中心、购物车、导购 -->
	<div float-center></div>
	<div class="bottombar">

<!-- ============阅完可删除,若不删,留作纪念,我也不反对线=========== -->
<!-- 此处有交互，点击购物车出现选择弹框 -->
<!-- 选择 数量，款式颜色 -->
<!-- 每个选项都有库存，这边显示的库存要 根据 选择项 实时计算的 -->
<!-- ============阅完可删除,若不删,留作纪念,我也不反对线=========== -->
		
		<div class="button button-light" ng-click="propertyShowCart()">加入购物车</div>
		<div class="button button-assertive" ng-click="propertyShowOrder()">立即购买</div>
	</div>
	<div class="mengban"></div>

	<div class="chooseProductInfoWarp">
		<div class="list">
		    <div class="item item-avatar">
			      <img class="productImg" src="assets/images/pic1.png">
			      <h2>新款撞色连衣裙</h2>
			      <p>¥ 241.00</p>
			      <div class="iconfont icon-guanbi close" ng-click="propertyClose()"></div>
		    </div>
		</div>

		<div class="chooses choosesnum" ng-repeat="item in productDetailData.specification">
				<span class="chsTitle">{{item.key}}</span>
				<span ng-repeat="para in item.array">
					<input class="hideradio" type="radio" id="{{item.key}}{{$index}}" name="{{item.key}}" value="{{para}}" ng-click="checkSku(para,item.key)">
					<label class="chsBtn" for="{{item.key}}{{$index}}">{{para}}</label>
				</span>
		</div>

		<div class="chooses">
				<span class="chsTitle fl">数量</span>
				<div class="addDelWrap">
					<span class="font12">剩余：</span><span class="font12">{{productDetailData.realquantity}}&nbsp;&nbsp;</span>
					<span class="suanBtn del" ng-click="delNum()">
						<i class="iconfont icon-jian"></i>
					</span>
					<input class="suanBtn num" ng-model="productDetailData.buynum" ng-blur="checkblank()" ng-change="checknum()"/>
					<span class="suanBtn add" ng-click="addNum()">
						<i class="iconfont icon-jia"></i>
					</span>
				</div>
				<div class="clearBoth"></div>
		</div>
		<div class="nextStep" ng-click="goToOrder()" ng-class="{disnone:goOrder}">下一步order</div>
		<div class="nextStep" ng-click="goToCart()"  ng-class="{disnone:goCart}">下一步cart</div>
	</div>
	<!-- 登录模块 -->
	<!-- {{login}} -->
    <div login style="position:absolute;z-index:999 ;left:0;bottom:0;width:100%;background:#fff;"  ng-show="login" loginsuccess="loginsuccess" loginerror="loginerror"></div>
<!-- <div style="position:absolute;z-index:999 ;left:0;bottom:0;width:100%;"  ng-show="login">
	<div class="pay-way">
	    <div class="total-cost backfff border-tp height80">
	      请验证您的手机
	    </div>
	    <div class="statusWrap">
	        <div class="way-item">
	             <input class="inputclass" placeholder="请输入手机号码" ng-model="mainData.telenum"/>
	        </div>
	        <div class="way-item posRelative">
	             <input class="inputclass" placeholder="验证码"  ng-model="mainData.verificationCode"/>
	             <div class="yanzhengma" ng-click="verify()">获取验证码</div>
	        </div>
	    </div>
	    <div class="commonBtn backred marginBt0" ng-click="submit()">确认登录</div>
	</div>
</div> -->
</ion-view>









