<ion-view view-title="商品详情" class="product-detail">
  <ion-content>

    <div class="wcontainer">
      <div class="sliders" id="sliders">
        <div class="sliderlist" ng-repeat="picurl in productDetailData.picUrlArr">
          <img ng-src="{{picurl}}" alt="">
        </div>
      </div>
    </div>
    <div class="productInfo">
      <div class="title">{{productDetailData.title}}</div>
      <div class="price">{{productDetailData.price|currency:"￥":2}}</div>
      <div ng-repeat="sku in productDetailData.usedSkus">
        <span class="graya3">{{sku.name}}：</span><span>{{sku.skuValues}}</span>
      </div>
      <div>
        <span class="graya3">剩余：</span><span>{{productDetailData.num}}</span>
      </div>
      <div>
        <span class="graya3">运费：</span><span ng-if="productDetailData.freight_terms!='seller'">{{productDetailData.freight|currency:"￥":2}}</span>
        <span ng-if="productDetailData.freight_terms=='seller'" class="noexemption">卖家包邮</span>
      </div>
      <div ng-if="SERVICES.is_fetch==1">
        <span class="graya3">服务：</span><span>支持专卖店取货 </span>
      </div>
    </div>
    <div class="productPicWrap" ng-bind-html="productDetailData.content | to_trusted ">
    </div>
  </ion-content>
  <!-- 悬浮点击打开个人中心、购物车、导购 -->
  <div float-center></div>
  <div class="bottombar ng-hide" ng-show="ISWX">
    <div class="button button-light" ng-click="propertyShowCart()">加入购物车</div>
    <div class="button button-assertive" ng-click="propertyShowOrder()">立即购买</div>
  </div>
  <div class="mengban"  ng-click="propertyClose()"></div>

  <div class="chooseProductInfoWarp">
    <form name="form" novalidate class="form">
      <div class="list">
        <div class="item item-avatar">
          <img class="productImg" ng-src="{{productDetailData.picUrlArr[0]}}">

          <h2>{{productDetailData.title}}</h2>

          <p ng-if="allSelected">￥{{productOrder.price}}</p>

          <p ng-if="!allSelected">￥{{productDetailData.price}}</p>

        </div>
      </div>

      <div class="chooses choosesnum" ng-repeat="sku in productDetailData.usedSkus">
        <span class="chsTitle">{{sku.name}}</span>
				<span ng-repeat="skuValue in sku.values |filter: {is_selected:1 } ">
					<input class="hideradio" type="radio" id="{{sku.p_id}}:{{skuValue.v_id}}:{{sku.name}}:{{skuValue.value}}"
                 name="{{sku.p_id}}"
                 ng-click="checkSku(sku,skuValue,$event)">
					<label class="chsBtn"
                 for="{{sku.p_id}}:{{skuValue.v_id}}:{{sku.name}}:{{skuValue.value}}">{{skuValue.value}}</label>
				</span>
      </div>

      <div class="chooses">
        <span class="chsTitle fl">数量</span>

        <div class="addDelWrap" ng-if="allSelected">
          <span class="font12">剩余：</span><span class="font12">{{productOrder.real_quantity}}&nbsp;&nbsp;</span>
					<span class="suanBtn del" ng-click="delNum()">
						<i class="iconfont icon-jian"></i>
					</span>
          <input class="suanBtn num" ng-model="productOrder.num"
                 onkeyup="if(this.value.length==1){this.value=this.value.replace(/[\D0]/g,'')}else{this.value=this.value.replace(/[^0-9]/g,'')}"
                 onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[[\D0]/g,'')}else{this.value=this.value.replace(/[^0-9]/g,'')}"
                 ng-change="checknum()"/>
					<span class="suanBtn add" ng-click="addNum()">
						<i class="iconfont icon-jia"></i>
					</span>
        </div>
        <div class="clearBoth"></div>
      </div>
      <button type="button" ng-click="goToOrder()"
              ng-class="{'disabled':!allSelected,disnone:goOrder}" class="nextStep"
              ng-disabled="!allSelected">下一步
      </button>
      <button type="button" ng-click="goToCart()" ng-class="{'disabled':!allSelected,disnone:goCart}" class="nextStep"
              ng-disabled="!allSelected">下一步
      </button>
    </form>
  </div>
  <!-- 登录模块 -->
  <div login style="position:absolute;z-index:999 ;left:0;bottom:0;width:100%;background:#fff;" class="ng-hide"
       ng-show="login"
       loginsuccess="loginsuccess" loginerror="loginerror"></div>

</ion-view>









