<ion-view view-title="宝贝详情" class="product-detail">
	<ion-content>

		<ion-slide-box on-slide-changed="slideHasChanged($index)" class="sliderbox">
			<ion-slide>
		    	<img class="sliderpic" src="assets/images/pic1.png">
			</ion-slide>
			<ion-slide>
		    	<img class="sliderpic" src="assets/images/pic1.png">
			</ion-slide>
			<ion-slide>
		    	<img class="sliderpic" src="assets/images/pic1.png">
			</ion-slide>
		</ion-slide-box>

		<!-- <p ng-repeat="params in productparam">参数:{{params.param}}</p>
		<p class="des">简介</p> -->
		<div class="productInfo">
			<div class="title">新款撞色连衣裙</div>
			<div class="price">￥555.00</div>
			<div>
				<sapn class="graya3">尺码：</sapn><span>XS S M L XL</span>
			</div>
			<div>
				<sapn class="graya3">颜色：</sapn><span>花色</span>
			</div>
			<div>
				<sapn class="graya3">剩余：</sapn><span>67</span>
			</div>
			<div>
				<sapn class="graya3">运费：</sapn><span>免运费</span>
			</div>
			<div>
				<sapn class="graya3">服务：</sapn><span>支持专卖店取货 </span>
			</div>
		</div>
	    <div class="productPicWrap">
	    	<img class="productPic" src="assets/images/pic1.png">
	    	<img class="productPic" src="assets/images/pic1.png">
	    	<img class="productPic" src="assets/images/pic1.png">
	    	<div class="clearBoth"></div>
	    </div>
	</ion-content>
	<div class="daogou">
		<img class="daogouImg1" src="assets/images/daogou1.png" ng-click="showmenu()">
		<div class="daogouImgWarp">
			<img class="daogouImg2" src="assets/images/daogou2.png">
			<span class="daogouImgTxt">个人中心</span>
			<img class="daogouImg2" src="assets/images/daogou3.png">
			<span class="daogouImgTxt">导购橱窗</span>
			<img class="daogouImg2" src="assets/images/daogou4.png" ui-sref="cart">
			<span class="daogouImgTxt" ui-sref="cart">购物车</span>
		</div>
		<!-- 此处有交互，点击小圆出 购物车按钮，导购橱窗(商品列表)，个人中心(订单列表) -->
	</div>
	<div class="bottombar">

<!-- ============阅完可删除,若不删,留作纪念,我也不反对线=========== -->
<!-- 此处有交互，点击购物车出现选择弹框 -->
<!-- 选择 数量，款式颜色 -->
<!-- 每个选项都有库存，这边显示的库存要 根据 选择项 实时计算的 -->
<!-- ============阅完可删除,若不删,留作纪念,我也不反对线=========== -->
		
		<div class="button button-light" ui-sref="creatorder">加入购物车</div>
		<div class="button button-assertive" ui-sref="creatorder">立即购买</div>
	</div>
	<div class="mengban"></div>

	<div class="chooseProductInfoWarp">
		<div class="list">
		    <div class="item item-avatar">
			      <img class="productImg" src="assets/images/pic1.png">
			      <h2>新款撞色连衣裙</h2>
			      <p>¥ 241.00</p>
			      <img class="close" src="assets/images/close.png" ng-click="close()">
		    </div>
		</div>

		<div class="chooses">

				<span class="chsTitle">尺码</span>


				选择框示例：
				<input class="hideradio" type="radio" id="radio1_1" name="size" value="S 预定5-7天">
				<label class="chsBtn" for="radio1_1">S 预定5-7天</label>

				<input class="hideradio" type="radio" id="radio1_2"  name="size" value="S 预定5-7天">
				<label class="chsBtn" for="radio1_2">S 预定5-7天</label>
			

				<span class="chsBtn">S 预定5-7天</span>
				<span class="chsBtn ichoosed">M 预定5-7天</span>
				<span class="chsBtn">L 预定5-7天</span>
				<span class="chsBtn">XL 预定5-7天</span>
				<span class="chsBtn">S 预定5-7天</span>
				<span class="chsBtn ichoosed">M 预定5-7天</span>
				<span class="chsBtn">L 预定5-7天</span>
				<span class="chsBtn">XL 预定5-7天</span><span class="chsBtn">S 预定5-7天</span>
				<span class="chsBtn ichoosed">M 预定5-7天</span>
				<span class="chsBtn">L 预定5-7天</span>
				<span class="chsBtn">XL 预定5-7天</span>
		</div>

		<div class="chooses">
				<span class="chsTitle">颜色分类</span>
				<span class="chsBtn">红色</span>
				<span class="chsBtn ichoosed">黑色</span>
		</div>

		<div class="chooses">
				<span class="chsTitle fl">数量</span>
				<div class="addDelWrap">
					<span class="font12">剩余：</span><span class="font12">1822&nbsp;&nbsp;</span>
					<span class="suanBtn del">-</span>
					<span class="suanBtn num">23</span>
					<span class="suanBtn add">+</span>
				</div>
				<div class="clearBoth"></div>
		</div>
		<div class="nextStep">下一步</div>
	</div>


</ion-view>









