
<ion-view view-title="购物车">
        <div class="bar bar-subheader top0 coloref">
          <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabsm">
                <div class="tab-item-wrap" >
                    <a class="tab-itemm iactive" ui-sref="cart">
                      购物车
                    </a>
                </div>
                <div class="tab-item-wrap" >
                    <a class="tab-itemm" ui-sref="orderList">
                     我的订单
                    </a>
                </div>
            </div>
        </div>
      </div>

      <ion-content class="cart-content">
      <!--   <ion-refresher
        pulling-text="下拉更新..."
        on-refresh="pageFunc.refreshproductList()">
        </ion-refresher> -->
          <div class="statusWrap backf8">
                <div class="shop backf8">
                    <div class="shop-name countDel">Lily商务时装</div>
                    <div class="edit">编辑</div>
                    <div class="clearBoth"></div>
                </div>
                
                <ul class="list">
                    <li class="item item-checkbox product-item backf8" ng-repeat="item in productData">
                       <label class="checkbox disnone">
                         <input type="checkbox" ng-model="choose">
                       </label>
                      <img src="assets/images/selected.png" class="selected-img">
                      <img src="assets/images/pic1.png" class="product-img">
                      <div class="paramenters-select">
                          <div class="name" ng-bind="item.title"></div>
                          <div class="paras" ng-bind="item.sku_properties_name"></div>
                      </div>
                      <span class="price">￥{{item.price}}</span>
                      <div class="countNumCount">
                        <img src="assets/images/del.png" class="countImg" ng-click="delNum($index)">
                            <input class="num backf8"  ng-model="item.num"/>
                        <img src="assets/images/add.png" class="countImg" ng-click="addNum($index)">
                      </div>
                    </li>
                </ul>
          </div>
<!-- 
      <ion-infinite-scroll
        ng-if="pageData.isHaveMoreData"
        icon="ion-loading-c"
        on-infinite="pageFunc.loadMoreData()"
        distance="20%"
        spinner="ios"
        >
      </ion-infinite-scroll> -->
      </ion-content>

      <ion-footer-bar align-title="left" class="footer">
        <ul class="list footerul">
              <li class="item item-checkbox footerli">
                 <label class="checkbox disnone">
                   <input type="checkbox">
                 </label>
                 <img src="assets/images/selected.png" class="selected-img">
                 <button class="goAccount">结算(1)</button>
                 <span class="totalPrice">1234.00</span>
                 <span class="total">合计：￥</span>
              </li>
          </ul>
         
      </ion-footer-bar>

  <!--   这个切换其实是2个页面 不是页面内切换的
    一个是购物车页cart   应该是订单列表 order → order-list -->

</ion-view>