.tabsm {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 38px;
  background: @grayf8;
  border: 0px;
  .tab-item-wrap {
    width: 49%;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    .tab-itemm {
      display: inline-block;
      background: @grayf8;
      color: #8f8f8f;
    }
    .iactive {
      border-bottom: 2px solid @commonRed;
      color: @commonRed;
    }
  }
}

.cart-content {
  padding-top: 45px;
  background: #efefef;
}

.statusWrap {
  border-top: 1px solid @grayddd;
  border-bottom: 1px solid @grayddd;
  background: @whitefff;
}

.shop {
  height: 35px;
  margin-left: 10px;
  border-bottom: 1px solid @grayddd;
  background: @whitefff;
  .shop-name {
    float: left;
    height: 35px;
    line-height: 35px;
    text-indent: 5px;
    color: @gray3a;
    font-size: 14px;
  }
  .edit {
    float: right;
    height: 26px;
    width: 74px;
    line-height: 30px;
    text-align: center;
    margin-top: 6px;
    border-left: 1px solid @grayddd;
    color: @commonRed;
  }

}

.product-item {
  border: 0px;
  padding: 15px 15px 6px 10px;
  background: @whitefff;
  .disnone {
    display: none;

  }
  &:last-child {
    padding-bottom: 15px;
  }
  .selected-img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: auto 5px;
  }
  .bg {
    background: red;
  }

  .product-img {
    width: 62px;
    height: 62px;
    vertical-align: middle;
    border: 1px solid @grayddd;
    margin: auto 8px auto 10px;
  }
  .paramenters {
    display: inline-block;
    height: 62px;
    width: 190px;
    vertical-align: middle;
    .name {
      width: 100%;
      font-size: 14px;
      color: @gray3a;
      white-space: normal;
      height: 40px;
      overflow: hidden;
    }
    .paras {
      width: 100%;
      color: @graya3;
      white-space: normal;
      font-size: 13px;
    }
  }
  .paramenters-daogou {
    display: inline-block;
    height: 62px;
    width: 68%;
    vertical-align: middle;
    .name {
      width: 100%;
      font-size: 14px;
      color: @gray3a;
      white-space: normal;
      height: 40px;
    }
    .paras {
      width: 100%;
      font-size: 17px;
      color: @commonRed;
      white-space: normal;
      .paras2 {
        width: 100%;
        color: @graya3;
        white-space: normal;
        font-size: 13px;
      }
    }
  }
  .daogou-arrow {
    float: right;
    width: 10px;
    height: 20px;
    color: #a3a3a3;
    margin-top: 20px;
  }
  .price {
    float: right;
    font-size: 14px;
    color: @gray3a;
  }
  .paramenters-select {
    display: inline-block;
    height: 62px;
    width: 190px;
    vertical-align: middle;
    .name {
      width: 100%;
      font-size: 14px;
      color: @gray3a;
      white-space: normal;
      height: 40px;
      overflow: hidden;
    }
    .paras {
      width: 100%;
      color: @graya3;
      white-space: normal;
      font-size: 13px;
    }
  }
  .price {
    float: right;
    font-size: 14px;
    color: @gray3a;
  }
  .countNumCount {
    position: absolute;
    width: 80px;
    height: 30px;
    top: 38px;
    right: 10px;
    .countImg {
      width: 27px;
      height: 27px;
      vertical-align: middle;
    }
    .num {
      width: 25px;
      height: 27px;
      line-height: 27px;
      font-size: 14px;
      background: @whitefff;
      border: 0px;
      text-align: center;
    }
  }
  .countNum {
    position: absolute;
    height: 30px;
    top: 37px;
    right: 15px;
    font-size: 14px;
    color: @graya3;
  }
  .sale-return {
    position: absolute;
    height: 22px;
    width: 45px;
    border-radius: 4px;
    border: 1px solid @commonRed;
    top: 56px;
    right: 15px;
    font-size: 13px;
    color: @commonRed;
    text-align: center;
    line-height: 22px;
  }
  .on-sale-return {
    position: absolute;
    height: 30px;
    top: 55px;
    right: 15px;
    font-size: 13px;
    color: @commonRed;
  }
}

.footer {
  border-top: 1px solid @grayddd;
  .footerul {
    padding: 0 5px 0 8px;
    width: 100%;
    .footerli {
      padding: 0px;
      border: 0px;
      height: 50px;
      line-height: 50px;
      width: 100%;
      .disnone {
        display: none;
      }
      .selected-img {
        width: 24px;
        height: 24px;
      }
      .total {
        float: right;
        display: block;
        height: 40px;
        line-height: 40px;
        color: @commonRed;
        font-size: 12px;
      }
      .totalPrice {
        float: right;
        display: block;
        height: 40px;
        line-height: 40px;
        margin-right: 5px;
        color: @commonRed;
        font-size: 16px;
      }
      .goAccount {
        float: right;
        display: block;
        height: 34px;
        width: 90px;
        line-height: 34px;
        background: @commonRed;
        border-radius: 4px;
        border: 0px;
        color: #fff;
        text-align: center;

      }

      .delcount {
        float: right;
        display: block;
        height: 34px;
        // width:115px;
        line-height: 34px;
        background: @whitefff;
        border-radius: 4px;
        border: 1px solid #ddd;
        color: @gray3a;
        text-align: center;
        padding: 0 15px;
        margin-right: 10px;
      }
    }

  }
}
