
<ion-view view-title="选择门店">
    <ion-content class="createorder-content">
      <div class="statusWrap" ng-repeat="item in shopaddressData">
         <div class="shop-address" ng-click="selectStore(item.id)">

              <div>
                <span class="floatL">{{item.name}}</span>
                <span class="floatR font13">{{item.phone}}</span>
                <div class="clearBoth"></div>
              </div>
              <span>营业时间： {{item.business_begin_time}}-{{item.business_end_time}}</span>
              <div>
                <span class="font13 floatL width75">{{item.state}} {{item.city}} {{item.district}} {{item.address}}</span>
                <span class="font13 colorRed floatR" ng-show="item.distance">{{item.distance}}km</span>
                <div class="clearBoth"></div>
              </div>
           
         </div>
         <div class="default-shop" ng-click="defaultstorefunc(item.id,$index)"> 
         <i class="iconfont icon-gou slgou font16"  ng-class="{'graygou':!item.is_default,'greengou':item.is_default}"></i>  默认取货门店</div>
      </div>

      <div class="selectCity1 border-bt font13">根据地区选择其他门店</div>
      <div class="selectCity2 font15">
            <!-- <i class="iconfont icon-jiantouleft rotate180 floatR"></i> -->
            <div select-address></div>
      </div>
     
       
      <div class="statusWrap" ng-repeat="item in storeAddressData">
         <div class="shop-address" ng-click="selectStore(item.id)">


            <div>
              <span class="floatL">{{item.name}}</span>
              <span class="floatR font13">{{item.phone}}</span>
              <div class="clearBoth"></div>
            </div>
            <span>营业时间： {{item.business_begin_time}}-{{item.business_end_time}}</span>
            <div>
              <span class="font13 floatL width75">{{item.state}} {{item.city}} {{item.district}} {{item.address}}</span>
              <span ng-show="item.distance" class="font13 colorRed floatR">{{item.distance}}km</span>
              <div class="clearBoth"></div>
            </div>
            
         </div>
         <div class="default-shop"  ng-click="defaultstorefunc(item.id,$index)"> 
         <i class="iconfont icon-gou slgou font16" ng-class="{'graygou':!item.is_default,'greengou':item.is_default}"></i>  默认取货门店</div>
      </div>

    <ion-infinite-scroll
      ng-if="hasMoreOrder"
      immediate-check="false"
      on-infinite="loadMoreData()"
      distance="10%"
      >
    </ion-infinite-scroll>
      
    </ion-content>
</ion-view>