
<ion-view view-title="我的订单">
    <ion-content class="createorder-content">
      <div class="statusWrap">
          <ul class="list marginbt0">
              <li class="item item-checkbox product-item" ng-repeat="item in productData">
                 <label class="checkbox disnone">
                   <input type="checkbox" ng-model="choose">
                 </label>
                <img src="assets/images/pic1.png" class="product-img">
                <div class="paramenters">
                    <div class="name">{{item.title}}</div>
                    <div class="paras">{{item.sku_properties_name}}</div>
                </div>
                <span class="price">￥{{item.price}}</span>
                <div class="countNum">X1
                </div>
              </li>
          </ul>
          <div class="perAccount">
            <div class="account"><span class="heji">商品总价：</span></div>
            <div class="time">￥23333.00</div>
            <div class="clearBoth"></div>
          </div>
      </div>

      <div class="statusWrap remarkpadding">
          <div class="costwrap">
              <span class="costname">运费</span>
              <span class="costvalue">￥123.00</span>
              <div class="clearBoth"></div>
          </div>
           <div class="costwrap">
              <span class="costname">实付</span>
              <span class="costvalue commonRed">￥123.00</span>
              <div class="clearBoth"></div>
          </div>
          <textarea class="remark" placeholder="订单备注"></textarea>
      </div>

       <div class="statusWrap">
          <span class="pickupway">取货方式</span>
          <div>
              <div class="pickupways" ng-class="{pickwayselect:post}" ng-click="postway()">快递到家</div>
              <div class="pickupways" ng-class="{pickwayselect:shop}" ng-click="shopway()">门店自取</div>
              <div class="clearBoth"></div>
          </div>
          <div class="addressInfo remarkpadding" ng-class="{disnone:shop}">
              <div>
                  <span class="floatL">李志伟，18094705373 </span>
                  <span class="colorBlue floatR font13" ui-sref="changeReceiveInfo">修改</span>
                  <div class="clearBoth"></div>
              </div>
              <span class="font13">[默认]上海市长宁区 杨宅路255号新发现财富园5幢 4楼 </span>
          </div>
           <div class="addressInfo remarkpadding" ng-class="{disnone:post}">
              <div>
                  <span class="floatL">中山公园龙之梦店，021-54347586  </span>
                  <span class="colorBlue floatR font13" ui-sref="goodsShop">修改</span>
                  <div class="clearBoth"></div>
              </div>
              <span class="font13">上海市徐汇区  淮海中路776号3楼(近瑞金一路)2013室 <span class="colorRed">3.0km</span></span>
          </div>
          <div class="order-time" ng-class="{disnone:post}">
                预约取货时间（营业时间 10：00-20：00）
                <div class="select-time">
                   3月20日 16:00
                </div>
          </div>
      </div>
      <div class="commonBtn" ui-sref="payWay">微信支付</div>
    </ion-content>
</ion-view>