
<ion-view view-title="我的订单">
    <ion-content class="createorder-content">
      <div class="statusWrap">
          <ul class="list marginbt0">
              <li class="item item-checkbox product-item">
                 <label class="checkbox disnone">
                   <input type="checkbox" ng-model="choose">
                 </label>
                <img src="assets/images/pic1.png" class="product-img">
                <div class="paramenters">
                    <div class="name">{{buytitle}}</div>
                    <div class="paras">{{buyskudetail}}</div>
                </div>
                <span class="price">￥{{buyprice}}</span>
                <div class="countNum">X{{buynum}}
                </div>
              </li>
          </ul>
          <div class="perAccount">
            <div class="account"><span class="heji">商品总价：</span></div>
            <div class="time">￥23333.00</div>
            <div class="clearBoth"></div>
          </div>
      </div>

      <div class="statusWrap remarkpadding">
          <div class="costwrap">
              <span class="costname">运费</span>
              <span class="costvalue">￥123.00</span>
              <div class="clearBoth"></div>
          </div>
           <div class="costwrap">
              <span class="costname">实付</span>
              <span class="costvalue commonRed">￥123.00</span>
              <div class="clearBoth"></div>
          </div>
          <textarea class="remark" placeholder="订单备注"></textarea>
      </div>

      <div class="pay-way">
          <div class="total-cost backfff border-tp">
            请验证您的手机
          </div>
          <div class="statusWrap">
              <div class="way-item">
                   <input class="inputclass" placeholder="请输入手机号码" ng-model="productData.telenum"/>
              </div>
              <div class="way-item posRelative">
                   <input class="inputclass" placeholder="验证码"  ng-model="productData.verificationCode"/>
                   <div class="yanzhengma" ng-click="verify()">获取验证码</div>
              </div>
          </div>
          <div class="commonBtn backred" ng-click="submit1()">确认登录1</div>
      </div>




       <div class="statusWrap disnone">
          <span class="pickupway">取货方式</span>
          <div>
              <div class="pickupways" ng-class="{pickwayselect:post}" ng-click="postway()">快递到家</div>
              <div class="pickupways" ng-class="{pickwayselect:shop}" ng-click="shopway()">门店自取</div>
              <div class="clearBoth"></div>
          </div>
          <div ng-class="{disnone:shop}">
              <input class="input-address-info" placeholder="收货人姓名"/>
              <input class="input-address-info" placeholder="手机号码"/>
              <div class="input-address-info">省、市、区</div>
              <input class="input-address-info border-bt0" placeholder="详细地址"/>
          </div>
          <div class="addressInfo remarkpadding disnone" ng-class="{disnone:shop}">
              <div>
                  <span class="floatL">李志伟，18094705373 </span>
                  <span class="colorBlue floatR font13" ui-sref="changeReceiveInfo">修改</span>
                  <div class="clearBoth"></div>
              </div>
              <span class="font13">[默认]上海市长宁区 杨宅路255号新发现财富园5幢 4楼 </span>
          </div>
           <div class="addressInfo remarkpadding" ng-class="{disnone:post}">
              <div>
                  <span class="floatL width85">中山公园龙之梦店，021-54347586  </span>
                  <span class="colorBlue floatR font13" ui-sref="goodsShop">修改</span>
                  <div class="clearBoth"></div>
              </div>
              <div>
                  <span class="font13 floatL width85">上海市徐汇区  淮海中路776号3楼(近瑞金一路)2013室</span>
                  <span class="font13 colorRed floatR">3.0km</span>
                  <div class="clearBoth"></div>
              </div>
            
          </div>
          <div class="order-time" ng-class="{disnone:post}">
                预约取货时间（营业时间 10：00-20：00）
                <div class="select-time">
                  3月20日 16:00
                   <label for="timeselect" class="select-label floatR"> 
                      <i class="iconfont icon-jiantouleft rotate180 floatR"></i>
                   </label>
                   <select  id="timeselect" class="novisible">
                       <option value="1">5:00</option>
                       <option value="2">6:00</option>
                       <option value="3">7:00</option>
                       <option value="4">8:00</option>
                       <option value="5">9:00</option>
                       <option value="6">10:00</option>
                       <option value="7">12:00</option>
                   </select>
                </div>
          </div>
      </div>
      <div class="commonBtn disnone" ui-sref="payWay">微信支付</div>
      <div class="commonBtn backred" ng-click="submit2()">确认登录成功后获取user信息2</div>
      <div class="commonBtn backred" ng-click="logout()">确认退出3</div>
    </ion-content>
</ion-view>