.marginbt0{
	margin-bottom: 0px !important;
}
.remarkpadding{
		padding:15px 15px 10px 15px;
	}
.createorder-content{
	padding-top:15px;
	background:#efefef;
	color: @gray3a;
}
.statusWrap{
	border-top: 1px solid @grayddd;
	border-bottom: 1px solid @grayddd;
	margin-bottom: 10px;
	background: #ffffff;
}
.commonRed{
	color:@commonRed !important;
}
.perAccount{
		height: 45px;
		border-top: 1px solid @grayddd;
		padding:0 15px 0 0px;
		margin-left:10px;
		background: @whitefff;
		.account{
			float:left;
			height:45px;
			line-height: 45px;
			text-indent: 5px;
			color:@commonRed;
			font-size:14px;
			.heji{
				color:@graya3;
				font-size:13px;
			}
		}
		.time{
			float:right;
			height:45px;
			line-height: 45px;
			text-align: center;
			color:@gray3a;
			font-size:14px;
		}
}

.costwrap{
	width:100%;
	.costname{
		font-size: 12px;
		color:@graya3;
		float:left;
	}
	.costvalue{
		font-size: 13px;
		color:@gray3a;
		float:right;
	}
}
.remark{
	background: #efefef;
	border-radius: 4px;
	width:100%;
	height: 35px;
	padding:10px 10px 0 10px;
	margin-top:10px;
	color:#c1c1c1;
}
.pickupway{
	height: 30px;
	line-height: 30px;
	padding-left:15px;
	font-size: 12px;
	color:@gray3a;
}
.pickupways{
	display: inline-block;
	width: 50%;
	height:35px;
	line-height:35px;
	font-size: 15px;
	border-top:1px solid #ddd;
	border-bottom: 1px solid #ddd;
	float: left;
	background: #f8f8f8;
	color:#8f8f8f;
	text-align: center;
}
.pickwayselect{
	background: #bdbdbd;
	color:#fff;
}
.addressInfo{

}
.commonBtn{
	width: 90%;
	height: 45px;
	margin:20px auto;
	background: #47b85b;
	color:#fff;
	border-radius: 4px;
	line-height: 45px;
	text-align: center;
	font-size: 16px;

}
.shop-address{
	padding:15px;
	color:#3a3a3a;
	.name{
		font-size:15px;
		float: left;
	}
	.call{
		font-size:15px;
		float: right;
	}
	.time{

	}
	.address{
		margin-top:10px;
		font-size:13px;
	}

}
.default-shop{
	margin-left: 15px;
	border-top:1px solid #ddd;
	height: 45px;
	line-height: 45px;
	color:@graya3;
	font-size: 13px;
	.default{
		float: left;
		width: 33%;
		text-align: left;
	}
	.edit{
		float: left;
		width: 33%;
		text-align:center;
	}
	.delete{
		float: left;
		width: 30%;
		text-align: right;
	}
}
