<ion-view view-title="收货地址">
    <ion-content class="createorder-content">
      <div class="statusWrap" ng-repeat="item in receiverAddressDate">
          <div class="shop-address" ng-click="selectAddress(item.id)">
             <div>
                 <span class="name">{{item.name}} </span>
                 <span class="call">{{item.mobile}} </span>
                 <div class="clearBoth"></div>
             </div>
             <div class="address"><span ng-show="item.is_default">[默认]&nbsp;&nbsp;&nbsp;</span>{{item.state}}{{item.city}}{{item.district}}{{item.address}}</div>
         </div>
         <div class="default-shop">
            <div class="default" ng-click="setDefaultAddress(item.id,$index)">
            <i class="iconfont icon-gou slgou font16" ng-class="{greengou:item.is_default,graygou:!item.is_default}" ></i>
            &nbsp;默认地址</div>
            <div class="edit" ng-click="editAddressFunc(item.id)">编辑</div>
            <div class="delete" ng-click="deleteAddressFunc(item.id,$index)">删除</div>
         </div>
      </div>

      <div class="commonBtn backred" ng-click="gonewAddress()">添加新地址</div>

    </ion-content>
</ion-view>
